<header>
    <nav>
        <a href="/">WeebList</a>
        <ul>
            <li><a href="/animes">Browse</a></li>
            <li><a href="/animes/new">Add</a></li>
        </ul>
    </nav>
</header>