<h2>Recently Added</h2>
<div>
    <% animes.forEach(anime => { %>
       <img width="250" src="<%= anime.imgVPath %>">
       <div>
           <%= anime.title %>
           <br>
           <%= anime.rDate %>
       </div>
    <% }) %>
</div>